

.body-container{
    display: flex;
    flex-direction: column;
    grid-gap: 10px;
    width: 100%;
    min-width: auto;
    height: calc(100vh - 75px );
    align-items: center;
}

.body-graph{
    width: 90%;
    height: 270px;
    margin: auto;
}

.body-div{
    display: flex;
    flex-direction: column;
    border-radius: 8px;
    border-width: 1.5px;
    border-style: solid;
    border-color: #ebf0f5;
    padding: 25px;
    width: 100%;
    margin-top:20px;
    align-items: center;
    justify-content: space-between;
}

.body-div_div{
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 5px;
}

.body-logo_div{
    display: flex;
    justify-content: flex-start;
    grid-gap:15px;
}
.body-submit_button{
    width: 125px;
    background-color: darkblue;
    height: 45px;
    color: white;
    border-radius: 8px;
    font-weight: 500;
    cursor: pointer;
    border: 0;
    font-size: 14px;
    font-weight: bold;
}

.body-submit_button:hover{
    background-color: #1e38c1;
}

.body-stats_div{
    width: 100%;
    display: flex;
    margin: 20px auto;
    align-items: center;
    grid-gap:40px;
}

.body-stats_div>div{
    width: 100%;
    display: flex;  
    margin: auto;
    padding: 5px;
    border-right: 1.5px solid #f1f1f1;
}

.body-icons{
    width:55px;
    height:55px;
    display:flex;
    border-radius:50%;
    background-color:#f9f9f9;
    border: 1px solid #e8e8e8;
}

.body-header{
    display: flex;
    justify-content: space-between;
    font-size: 14px;
}