* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.navbar-container{
    width: 100%;
    box-sizing: border-box;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: #ebf0f5;
    padding: 12px 40px;
    height: 75px;
    margin: 0;
}


.navbar-div{
    height: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar-div_logo{
    display: flex;
}
.navbar-logo{
    height: 30px;
}
.navbar-info_div{
    display: flex;
}
.navbar-info_ul{
    display: flex;
    align-items: center;
    grid-gap: 30px;
    gap: 30px;
}
.navbar-info_ul >li{
    display: flex;
    align-items: center;
}

.navbar-dropdown, .navbar-noti{
    display: flex;
    padding: 10px;
    cursor: pointer;
    border-width: 1.5px;
    border-style: solid;
    border-color: #ebf0f5;
    border-radius: 8px;
    position: relative;
    min-width: 140px;
    transition: all 0.2s;
    align-items: center;
    gap: 15px;

    .icon{
        width: 18px;
        height: 18px;
    }

    .dropdown-list{
        background-color: white;
        right: 0;
        z-index: 999;
        width:100%;
        text-align: center;
        border-width: 1.5px;
        border-color: #ebf0f5;
        border-style: solid;
        border-radius: 8px;
        padding: 20px;
        position: absolute;
        top: 90%;
        margin-top: 22px;
    }

    .dropdown-list >div>a{
        display: flex;
        gap: 5px;
        align-items: center;
        grid-gap: 10px;
        transition: all 0.2s;
    }
    .dropdown-list >div>a:hover{
        color: #445ee2;
    }
}

.navbar-dropdown:hover,.navbar-noti:hover{
    background-color: #f7f8fa;
}