
.analysis-container{
    margin-right:25px;
    margin-left: auto;
    position: relative;
    font-size: 13px;
}

.analysis-div{
    display: flex;
    flex-direction: column;
    border-radius: 8px;
    border-width: 1.5px;
    border-style: solid;
    border-color: #ebf0f5;
    padding: 25px;
    width: 400px;
    min-height: 300px;
    margin-top:20px;

    .heading{
        display: flex;
        flex-direction: row !important;
        justify-content: space-between;
        margin-bottom: 20px;
        font-weight: bold;
        font-size: 14px;
    }
}

.analysis-div >div{
    width: 100%;
    letter-spacing: 0.6px;
    display: flex;
    flex-direction: column;
    align-items: start;
    cursor: pointer;
    grid-gap: 16px;
}

.analysis-elements{
    width: 100%;
    display: flex;
    flex-direction: column;
    grid-gap: 7px;
    margin: 6px 0;
}

.analysis-elements >div{
    display: flex;
    justify-content: space-between;
    border-radius: 10px;
    width: 95%;
    height: 11px;
    font-weight: bold;
}
.analysis-elements >div>div, .analysis-elements >div>div>div{
    border-radius: 10px;
    width: 220px;
    height: 11px;
}

.pieChart{
    top: -60px; 
    position: relative; 
    z-index: -99;
    margin: auto;
}

.centerImage{
    position: relative;
    width: 30px;
    z-index: 99;
    top: 142px;
    left: 114px;
}

  @keyframes fadein {
    from {
        
        background-position: bottom right;
    }
    to {
        background-position: bottom left;
    }
}

.barBlue{
    width: 80% !important;
    animation: fadein 4s;
    background: linear-gradient(to right, dodgerblue 50%, aliceblue 50%);
    background-size: 200% 100%;
}
.barRed{
    width: 24% !important;
    animation: fadein 4s;
    background: linear-gradient(to right, red 50%, rgb(255 228 232) 50%);
    background-size: 200% 100%;
}
.barGreen{
    width: 96% !important;
    animation: fadein 4s;
    background: linear-gradient(to right, limegreen 50%, #d5fed7 50%);
    background-size: 200% 100%;
}
.barOrange{
    width: 60% !important;
    animation: fadein 4s;
    background: linear-gradient(to right, orange 50%, antiquewhite 50%);
    background-size: 200% 100%;
}
